$font-neuland-condensed: Neuland Grotesk Condensed, Arial, sans-serif;
$font-neuland: Neuland Grotesk, Arial, sans-serif;

$black: #1C1C1C;
$l-black: #1C1C1C;

$red: #D40C00;
$wh: #fff;
$ml: #fff1e8;

$color-red: #BB1C2C;
$color-black: $black;

$wh-lg: 1200px;
$wh-md: 1000px;
$wh-sm: 768px;
$wh-xs: 540px;
